@font-face {
    font-family: 'Recoleta DEMO';
    src: url('Recoleta-RegularDEMO.eot');
    src: url('Recoleta-RegularDEMO.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-RegularDEMO.woff2') format('woff2'),
        url('Recoleta-RegularDEMO.woff') format('woff'),
        url('Recoleta-RegularDEMO.ttf') format('truetype'),
        url('Recoleta-RegularDEMO.svg#Recoleta-RegularDEMO') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

