<div class="resume-wrapper">
	<p>{{ 'dv-resume-confirme' | translate }}</p>
	<!-- <mat-card style="margin-bottom: 10px;">
	  <mat-card-header>
	    {{ 'hp-title-info' | translate }}
	  </mat-card-header>
	  <mat-card-content>
	    <p>{{ candidatService.state.name }}</p>
	    <p>{{ candidatService.state.address }}</p>
	    <p>{{ candidatService.state.province }}</p>
	    <p>{{ candidatService.state.city }}</p>
	    <p>{{ candidatService.state.email }}</p>
	    <p>{{ dateFormat(candidatService.state.birthday) }}</p>
	    <p>{{ candidatService.state.contact }}</p>
	  </mat-card-content>
	</mat-card>

	<mat-card *ngIf="candidatService.state.about?.length" style="margin-bottom: 10px;">
	  <p>{{ candidatService.state.about }}</p>
	</mat-card>

	<mat-card *ngIf="skills?.length" style="margin-bottom: 10px;">
	  <mat-card-header>
	    {{ 'dv-skill' | translate }}
	  </mat-card-header>
	  <mat-card-content>
	    <ul>
	      <li *ngFor="let skill of skills; index as i">{{ skill }}
	      </li>
	    </ul>
	  </mat-card-content>
	</mat-card>

	<mat-card *ngIf="hobbies?.length" style="margin-bottom: 10px;">
	  <mat-card-header>
	    {{ 'dv-hobby' | translate }}
	  </mat-card-header>
	  <mat-card-content>
	    <ul>
	      <li *ngFor="let hobby of hobbies; index as i">{{ hobby }} </li>
	    </ul>
	  </mat-card-content>
	</mat-card>

  <mat-card *ngIf="experiences?.length" style="margin-bottom: 10px;">
	  <mat-card-header>
	    {{ 'dv-experience' | translate }}
	  </mat-card-header>
	  <mat-card-content>
	    <mat-card *ngFor="let exp of experiences; index as i" style="margin-bottom: 10px">
		    <mat-card-content>
		      <h1>{{ exp.nomEntreprise }}</h1>
		      <p>{{ exp.nomPoste }} - {{ dateFormat(exp.dateDebut) }} - {{ dateFormat(exp.dateFin) }}</p>
		      <p>{{ exp.descPoste }}</p>
		    </mat-card-content>
		  </mat-card>
	  </mat-card-content>
	</mat-card>

	<mat-card *ngIf="formations?.length" style="margin-bottom: 10px;">
	  <mat-card-header>
	    {{ 'dv-formation' | translate }}
	  </mat-card-header>
	  <mat-card-content>
	    <mat-card *ngFor="let form of formations; index as i" style="margin-bottom: 10px">
	      <mat-card-content>
	        <h1>{{ form.nomInstitut }}</h1>
	        <p>{{ form.document }} - {{ dateFormat(form.date) }}</p>
	      </mat-card-content>
	    </mat-card>
	  </mat-card-content>
	</mat-card> -->

  <div class="resume-container">
    <div class="resume-left">
      <div class="profile-container">
        <img class="profile" src="assets/images/profile.png" alt="">
        <h1 class="name">{{ candidatService.state.name }}</h1>
      </div>
      <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
          <li *ngIf="candidatService.state.email.length">
            <mat-icon>mail</mat-icon>
            <a href="mailto: {{ candidatService.state.email }}"> {{ candidatService.state.email }}</a>
          </li>
          <li *ngIf="candidatService.state.contact.length">
            <mat-icon>call</mat-icon>
            {{ candidatService.state.contact }}
          </li>
          <li *ngIf="candidatService.state.address.length">
            <mat-icon>location_on</mat-icon>
            {{ candidatService.state.address }} {{ candidatService.state.city }} {{ candidatService.state.province }}
          </li>
        </ul>
      </div>
      <div class="container-block" *ngIf="candidatService.state.about?.length">
        <h2 class="container-block-title">A propos</h2>
        <p>{{ candidatService.state.about }}</p>
      </div>
      <div class="container-block" *ngIf="hobbies?.length">
        <h2 class="container-block-title">Divertissement</h2>
        <ul class="list-unstyled interests-list">
          <li *ngFor="let hobby of hobbies; index as i">{{ hobby }} </li>
        </ul>
      </div>
    </div>
    <div class="resume-right">
      <div class="title" *ngIf="experiences.length">
        <div class="top-title">
          <mat-icon>work</mat-icon>
          <h2>EXPERIENCE</h2>
        </div>
        <div class="item" *ngFor="let exp of experiences; index as i">
          <h3>{{ exp.nomPoste }} @ {{ exp.nomEntreprise }} <span>{{ dateFormat(exp.dateDebut) }} - {{ dateFormat(exp.dateFin) }}</span> </h3>
          <p>{{ exp.descPoste }}</p>
        </div>
      </div>
      <div class="title" *ngIf="formations.length">
        <div class="top-title">
          <mat-icon>school</mat-icon>
          <h2>Formation</h2>
        </div>
        <div class="item" *ngFor="let form of formations; index as i">
          <h3>{{ form.document }} <span>{{ dateFormat(form.date) }}</span></h3>
          <div class="school">{{ form.nomInstitut }}</div>
        </div>
      </div>
      <div class="title">
        <div class="top-title" *ngIf="skills?.length">
          <mat-icon>code</mat-icon>
          <h2>SKILL</h2>
        </div>
        <div class="skillset">
          <div class="item" *ngFor="let skill of skills; index as i">
            <h3 class="level-title">{{ skill.name }}</h3>
            <div class="progress level-bar">
              <mat-progress-bar mode="determinate" [value]="skill.value"></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
